
.socl h1{
  color: goldenrod;
  font-size: 40px;
}
.socl{
  height: 70px;
}

.main1{
  margin-left: 1100px;
  margin-top: -80px;
} 
.main1 h2{
  margin-left: -200px;
  margin-top: -5px;
}

a {
  color: goldenrod;
  text-decoration: none;
}

a:hover {
  opacity: 0.3;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 2.5em;
  width: 1.5em;
  height: 1em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: goldenrod;
}

.name{
  /* padding: 2em; */
  text-align: center;
  background-image: url('./img/1.png');
  background-size: cover;
  background-position: fixed;
  border-color: goldenrod;
  width: 1424px;
  height: 700px;
  
}

.name h1{
      color: goldenrod;
      margin: 0px;
    font-size: 90px; 
   
  }
   .name h4{
      margin: 0px;
    font-size: 40px;
  }



/* ---------------------------About Me------------------------- */

.aboutme{
    background-color: goldenrod;
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
}

.aboutme h1{
    font-size: 60px;
}
.aboutme h3{
    font-size: 30px;
    text-align: center;
    margin-right: 200px;
    margin-bottom: 20px;
   
}

.aboutme img{
    width: 1000px;
    height: 600px;
    border-radius:100%;
    padding-bottom: 50px;
}

/* -------------------My Experience----------------------- */
.experience img{
    height: 440px;
    width: 935px;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 240px;
    
} 
.experience h1{
    margin: 0px;
    font-size: 40px;
    text-align: center;
    color: goldenrod;
    padding-top: 30px;
}
h4{
    margin: 0px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}
h3{
    margin: 0px;
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 240px;
}
h2{
    color: goldenrod;
    padding-left: 240px;
}

/* ----------------------Education----------------------- */
.education img{
    border-radius: 100%;
    width:200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px; 
    margin-bottom: 20px;
    border:solid 4px goldenrod;
    box-shadow:0 0 35px 0px goldenrod;
}

.education h1{
    margin: 0px;
    font-size: 40px;
    text-align: center;
    color: goldenrod;
}

/* --------------------Skills---------------- */
.skills h1{
  margin: 0px;
    font-size: 40px;
    text-align: center;
    color: goldenrod;
    padding-top: 100px;
}

ul{
  position:absolute;
  margin:0;
  padding:0;
  
}

li{
  text-align:center;
  display:inline-block;
  list-style:none;
  position: relative
  border:solid 1px goldenrod;
  background:goldenrod;
  box-shadow:0 0 15px 0px goldenrod;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  top:50px;
  margin-left: 65px;
}

li:hover{
  top:0px;
  opacity:0.5;
  
}

li:nth-child(1){
    transform:rotate(10deg);
}

li:nth-child(2){
    transform:rotate(0deg);
}

li:nth-child(3){
    transform:rotate(-10deg);
}

li:nth-child(4){
    transform:rotate(15deg);
}

li:nth-child(5){
  transform:rotate(-10deg);
}

li:nth-child(6){
  transform:rotate(15deg);
}

li:nth-child(7){
  transform:rotate(-10deg); 
}

li:nth-child(8){
  transform:rotate(9deg);
}

li:nth-child(9){
  transform:rotate(-10deg);
}

li:nth-child(10){
  transform:rotate(30deg); 
}

p{
  margin:-1px 0 0 0;
}

/* ---------------------------------WorkShops---------------------------------- */
.workshops h1{
    margin: 0px;
    font-size: 40px;
    text-align: center;
    color: goldenrod;
    padding-top: 100px;
}


/* -------------------Coureses-------------------- */
/* 
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
} */

.wrapper h1{
  margin: 0px;
  font-size: 40px;
  text-align: center;
  color: goldenrod;
  padding-top: 100px;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow:0 0 20px 0px goldenrod;
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}


/* ----------------------------------message------------------------- */
.light{
  background-color: goldenrod;
  margin-top: 60px;
  width: 1425px;
  height: 600px;
}
.side img{
  height: 430px;
  width: 700px;

}
.side{
  padding-top: 85px;
  padding-left: 70px;
  width: 640px;
  height: 430px;
  overflow-x: hidden;
  /* position: fixed; */
  /* z-index: 1; */
  /* top: 20px;
  left: 10px; */
  /* background: #eee; */
  
  /* padding: 8px 0; */
}

.side img:hover{
  top:0px;
  opacity:0.5;
  
}

.main{
  text-align: center;
  margin-left: 600px;
  margin-right: 150px;
  margin-top: -250px;
}

.main h3{
  text-align: center;
  color: aliceblue;
  font-size: 30px;
}

/* -------------------------------------Footer---------------------------- */
footer{
  padding-top: 40px;
  padding-bottom: 20px;
}
footer h3{
  margin-left: 370px;
  color: goldenrod;
}
footer h5{
  text-align: center;
}



