
html{
  box-sizing: border-box;
}
/* --------------------------------------navbar------------------------------ */
#myNavbar{
  background-color:goldenrod;
  height: 70px;
}

.nav a{
  color:whitesmoke;
  font-size: 30px;
  padding: 5px;
  background-image: none;
  border-radius: 10%;
  box-shadow:0 0 15px 0px whitesmoke;
  
}

.nav{
  padding-top: 17px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  
}

/* ------------------------------------Socalpages------------------------------- */

.socl h1{
  color: goldenrod;
  font-size: 40px;
  margin-top: 25px;
}

.socl{
  height: 100px;
}

.side1 {
  float: left;
  box-sizing: border-box;
  width: 75%;
}

.main1{
  padding-left: 20px;
  float: left;
  box-sizing: border-box;
  width: 25%;
}
.main1 h2{
  margin-left: -50px;
  margin-top: -5px;
  font-size: 20px;
}

.main1 a {
  color: goldenrod;
  text-decoration: none;
}

.main1 a:hover {
  opacity: 0.3;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 2.5em;
  max-width: 1.5em;
  height: 1em;
  line-height: 1.5em;
  margin: 8px;
  text-align: center;
}

.main1 a .fab {
  color: goldenrod;
}

/* ---------------------------Name------------------------- */

.name{
  text-align: center;
  background-image: url('./img/1.png');
  background-size: cover;
  background-position: fixed;
  border-color: goldenrod;
  height: 700px; 
}

.name h1{
    color: goldenrod;
    margin: 0px;
    font-size: 90px; 
  }

.name h4{
    margin: 0px;
    font-size: 40px;
  }

/* ---------------------------About Me------------------------- */

.aboutme{
    background-color: goldenrod;
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
}

.aboutme h1{
    font-size: 60px;
}

.aboutme h3{
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20px;
   
}

.aboutme img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 600px;
    border-radius:100%;
    padding-bottom: 50px;
}

/* -------------------My Experience----------------------- */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 100px;
  height: 440px;
}

.experience h1{
    margin: 0px;
    font-size: 40px;
    text-align: center;
    color: goldenrod;
    padding-top: 30px;
}

h4{
    margin: 0px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

h3{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h2{
    color: goldenrod;
    text-align: center;
}

/* ----------------------Education----------------------- */
.education img{
    border-radius: 100%;
    width:18%;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px; 
    margin-bottom: 20px;
    border:solid 4px goldenrod;
    box-shadow:0 0 35px 0px goldenrod;
}

.education h1{
    margin: 0px;
    font-size: 40px;
    text-align: center;
    color: goldenrod;
}

/* --------------------Skills---------------- */

.skills h1{
    margin: 0px;
    font-size: 40px;
    text-align: center;
    color: goldenrod;
    padding-top: 100px;
}

.skills li{
  border:solid 1px goldenrod;
  margin-left: 65px;
  top:50px;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;
  box-shadow:0 0 15px 0px goldenrod;
  background:goldenrod;
  text-align:center;
  display:inline-block;
  list-style:none;
  position: relative
}

.skills li:hover{
  top:0px;
  opacity:0.5;
}

.skills li:nth-child(1){
    transform:rotate(10deg);
}

.skills li:nth-child(2){
    transform:rotate(0deg);
}

.skills li:nth-child(3){
    transform:rotate(-10deg);
}

.skills li:nth-child(4){
    transform:rotate(15deg);
}

.skills li:nth-child(5){
  transform:rotate(-10deg);
}

.skills li:nth-child(6){
  transform:rotate(15deg);
}

.skills li:nth-child(7){
  transform:rotate(-10deg); 
}

.skills li:nth-child(8){
  transform:rotate(9deg);
}

.skills li:nth-child(9){
  transform:rotate(-10deg);
}

.skills li:nth-child(10){
  transform:rotate(30deg); 
}

.skills p{
  margin:-1px 0 0 0;
}

/* ---------------------------------WorkShops---------------------------------- */
.workshops h1{
    margin: 0px;
    font-size: 40px;
    text-align: center;
    color: goldenrod;
    padding-top: 100px;
}


/* -------------------Coureses-------------------- */

.wrapper h1{
  margin: 0px;
  font-size: 40px;
  text-align: center;
  color: goldenrod;
  padding-top: 100px;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow:0 0 20px 0px goldenrod;
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}


/* ----------------------------------message------------------------- */
.light{
  background-color: goldenrod;
  margin-top: 60px;
  height: 600px;  
}

.side, .main {
  float: left;
  box-sizing: border-box;
  width: 50%;
}

.side img{
  height: 430px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.side img:hover{
  top:0px;
  opacity:0.5;
}

.side{
padding-top: 80px;
padding-left: 40px;
} 

.main{
  padding-top: 200px;
  } 

.main h3{
  text-align: center;
  color: aliceblue;
  font-size: 30px;
}

/* -------------------------------------Footer---------------------------- */
footer{
  padding-top: 10px;
  padding-bottom: 20px;
}

footer h6{
  color: goldenrod;
  text-align: center;
  font-size: 30px;
}

footer h5{
  text-align: center;
}



